---
// Logo GALRIVIERA - Image officielle grande taille
---

<a href="/" class="logo-link" aria-label="GALRIVIERA - Accueil">
  <img 
    src="/assets/img/logo-galriviera.png" 
    alt="GALRIVIERA - Luxury Travel" 
    class="logo-img"
  />
</a>

<style>
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-img {
    height: 100px;
    width: auto;
    max-width: 280px;
  }
  
  @media (max-width: 768px) {
    .logo-img {
      height: 55px;
      max-width: 160px;
    }
  }
</style>
